* text=auto !eol
/ChangeLog.txt -text
doc/manual.sxw -text
/ext_icon.gif -text
modsub/clear.gif -text
modsub/thirdparty_db.gif -text
res/phpMyAdmin-3.4.4-all-languages/favicon.ico -text
res/phpMyAdmin-3.4.4-all-languages/libraries/PHPExcel/PHPExcel/Reader/Excel2007.php -text
res/phpMyAdmin-3.4.4-all-languages/libraries/PHPExcel/PHPExcel/Shared/OLE/PPS/Root.php -text
res/phpMyAdmin-3.4.4-all-languages/libraries/chart/pChart/fonts/DejaVuSans.ttf -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/fonts/dejavusans.ctg.z -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/fonts/dejavusans.z -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/fonts/dejavusansb.ctg.z -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/fonts/dejavusansb.z -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/fonts/dejavuserif.ctg.z -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/fonts/dejavuserif.z -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/fonts/dejavuserifb.ctg.z -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/fonts/dejavuserifb.z -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/tcpdf.fdf -text
res/phpMyAdmin-3.4.4-all-languages/libraries/tcpdf/tcpdf.p12 -text
res/phpMyAdmin-3.4.4-all-languages/locale/de/LC_MESSAGES/phpmyadmin.mo -text
res/phpMyAdmin-3.4.4-all-languages/locale/es/LC_MESSAGES/phpmyadmin.mo -text
res/phpMyAdmin-3.4.4-all-languages/locale/fr/LC_MESSAGES/phpmyadmin.mo -text
res/phpMyAdmin-3.4.4-all-languages/locale/nl/LC_MESSAGES/phpmyadmin.mo -text
res/phpMyAdmin-3.4.4-all-languages/locale/uz@latin/LC_MESSAGES/phpmyadmin.mo -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/2leftarrow.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/2leftarrow_m.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/2rightarrow.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/2rightarrow_m.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/and_icon.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/ang_direct.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/bord.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/bottom.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/def.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/display_field.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/downarrow1.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/downarrow2.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/downarrow2_m.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/exec.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/exec_small.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/favicon.ico -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/grid.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/help.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/help_relation.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/or_icon.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/pdf.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/query_builder.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/relation.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/reload.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/resize.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/rightarrow1.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/rightarrow2.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/save.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/table.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/images/uparrow2_m.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/1.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/2.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/3.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/4.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/5.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/6.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/7.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/8.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/FieldKey_small.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/Field_small.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/Field_small_char.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/Field_small_date.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/Field_small_int.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/Header.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/Header_Linked.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/left_panel_butt.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/left_panel_tab.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/minus.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/plus.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/small_tab.png -text
res/phpMyAdmin-3.4.4-all-languages/pmd/styles/default/images/top_panel.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/ajax_clock_small.gif -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/arrow_ltr.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/arrow_rtl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_bookmark.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_browse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_calendar.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_chart.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_close.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_comment.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_dbstatistics.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_deltbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_docs.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_drop.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_edit.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_empty.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_engine.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_export.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_ftext.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_help.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_home.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_import.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_index.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_info.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_inline_edit.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_insrow.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_minus.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_more.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_newdb.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_newtbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_plus.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_primary.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_print.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_props.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_relations.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_save.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_sbrowse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_search.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_selboard.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_select.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_snewtbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_sql.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_sqlhelp.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_tblanalyse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_tblexport.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_tblimport.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_tblops.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_tbloptimize.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_tipp.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_unique.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_usradd.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_usrcheck.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_usrdrop.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_usredit.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_usrlist.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_view.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/b_views.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_browse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_deltbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_drop.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_empty.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_ftext.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_index.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_insrow.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_primary.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_sbrowse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_select.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/bd_unique.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/docs_menu_bg.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/error.ico -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/eye.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/eye_grey.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/item_ltr.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/item_rtl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/logo_left.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/logo_right.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/more.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/new_data.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/new_data_hovered.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/new_data_selected.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/new_data_selected_hovered.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/new_struct.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/new_struct_hovered.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/new_struct_selected.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/new_struct_selected_hovered.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_asc.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_asci.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_cancel.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_db.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_desc.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_error.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_error2.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_fulltext.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_host.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_lang.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_loggoff.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_notice.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_partialtext.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_passwd.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_process.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_really.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_reload.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_replication.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_rights.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_status.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_success.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_sync.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_tbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_theme.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_vars.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/s_views.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/spacer.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/vertical_line.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/img/window-new.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-bg_flat_0_aaaaaa_40x100.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-bg_flat_75_ffffff_40x100.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-bg_glass_55_fbf9ee_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-bg_glass_65_ffffff_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-bg_glass_75_dadada_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-bg_glass_75_e6e6e6_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-bg_glass_95_fef1ec_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-bg_highlight-soft_75_cccccc_1x100.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-icons_222222_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-icons_2e83ff_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-icons_454545_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-icons_888888_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/jquery/images/ui-icons_cd0a0a_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/original/screen.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/ajax_clock_small.gif -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/arrow_ltr.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/arrow_rtl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/asc_order.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_bookmark.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_browse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_calendar.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_chart.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_close.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_comment.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_dbstatistics.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_deltbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_docs.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_docsql.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_drop.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_edit.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_empty.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_engine.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_export.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_firstpage.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_ftext.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_help.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_home.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_import.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_index.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_info.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_inline_edit.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_insrow.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_lastpage.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_minus.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_more.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_newdb.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_newtbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_nextpage.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_pdfdoc.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_plus.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_prevpage.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_primary.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_print.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_props.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_relations.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_save.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_sbrowse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_sdb.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_search.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_selboard.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_select.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_snewtbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_sql.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_sqldoc.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_sqlhelp.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_tblanalyse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_tblexport.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_tblimport.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_tblops.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_tbloptimize.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_tipp.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_unique.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_usradd.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_usrcheck.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_usrdrop.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_usredit.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_usrlist.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_view.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/b_views.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_browse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_deltbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_drop.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_empty.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_firstpage.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_ftext.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_index.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_insrow.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_lastpage.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_nextpage.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_prevpage.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_primary.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_sbrowse.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_select.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/bd_unique.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/body_bg.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/database.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/database_list_li_hover.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/docs_menu_bg.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/error.ico -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/eye.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/eye_grey.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/input_bg.gif -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/item.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/item_ltr.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/item_rtl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/left_nav_bg.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/logo_left.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/logo_right.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/marked_bg.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/more.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/new_data.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/new_data_hovered.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/new_data_selected.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/new_data_selected_hovered.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/new_struct.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/new_struct_hovered.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/new_struct_selected.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/new_struct_selected_hovered.jpg -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/php_sym.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/pma_logo2.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_asc.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_asci.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_attention.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_cancel.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_cancel2.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_db.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_desc.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_error.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_error2.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_fulltext.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_host.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_info.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_lang.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_loggoff.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_notice.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_okay.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_partialtext.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_passwd.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_process.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_really.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_reload.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_replication.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_rights.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_status.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_success.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_sync.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_tbl.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_theme.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_vars.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/s_views.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/spacer.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/tab_bg.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/tab_hover_bg.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/tabactive_bg.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/vertical_line.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/img/window-new.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-bg_flat_0_aaaaaa_40x100.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-bg_flat_75_ffffff_40x100.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-bg_glass_55_fbf9ee_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-bg_glass_65_ffffff_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-bg_glass_75_dadada_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-bg_glass_75_e6e6e6_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-bg_glass_95_fef1ec_1x400.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-bg_highlight-soft_75_cccccc_1x100.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-icons_222222_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-icons_2e83ff_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-icons_454545_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-icons_888888_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/jquery/images/ui-icons_cd0a0a_256x240.png -text
res/phpMyAdmin-3.4.4-all-languages/themes/pmahomme/screen.png -text
