* text=auto !eol
/ChangeLog.txt -text
doc/manual.sxw -text
/ext_icon.gif -text
modsub/clear.gif -text
modsub/thirdparty_db.gif -text
res/phpMyAdmin-3.1.1-all-languages/favicon.ico -text
res/phpMyAdmin-3.1.1-all-languages/js/mooRainbow/images/blank.gif -text
res/phpMyAdmin-3.1.1-all-languages/js/mooRainbow/images/moor_arrows.gif -text
res/phpMyAdmin-3.1.1-all-languages/js/mooRainbow/images/moor_boverlay.png -text
res/phpMyAdmin-3.1.1-all-languages/js/mooRainbow/images/moor_cursor.gif -text
res/phpMyAdmin-3.1.1-all-languages/js/mooRainbow/images/moor_slider.png -text
res/phpMyAdmin-3.1.1-all-languages/js/mooRainbow/images/moor_woverlay.png -text
res/phpMyAdmin-3.1.1-all-languages/js/mooRainbow/images/rainbow.png -text
res/phpMyAdmin-3.1.1-all-languages/libraries/tcpdf/font/dejavusans-bold.ctg.z -text
res/phpMyAdmin-3.1.1-all-languages/libraries/tcpdf/font/dejavusans-bold.z -text
res/phpMyAdmin-3.1.1-all-languages/libraries/tcpdf/font/dejavusans.ctg.z -text
res/phpMyAdmin-3.1.1-all-languages/libraries/tcpdf/font/dejavusans.z -text
res/phpMyAdmin-3.1.1-all-languages/libraries/tcpdf/font/dejavuserif-bold.ctg.z -text svneol=unset#unset
res/phpMyAdmin-3.1.1-all-languages/libraries/tcpdf/font/dejavuserif-bold.z -text
res/phpMyAdmin-3.1.1-all-languages/libraries/tcpdf/font/dejavuserif.ctg.z -text svneol=unset#unset
res/phpMyAdmin-3.1.1-all-languages/libraries/tcpdf/font/dejavuserif.z -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/2leftarrow.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/2leftarrow_m.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/2rightarrow.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/2rightarrow_m.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/ang_direct.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/bord.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/bottom.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/def.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/display_field.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/downarrow1.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/downarrow2.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/downarrow2_m.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/exec.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/exec_small.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/favicon.ico -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/grid.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/help.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/help_relation.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/pdf.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/relation.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/reload.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/resize.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/rightarrow1.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/rightarrow2.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/save.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/table.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/images/uparrow2_m.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/1.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/2.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/3.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/4.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/5.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/6.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/7.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/8.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/FieldKey_small.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/Field_small.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/Field_small_char.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/Field_small_date.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/Field_small_int.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/Header.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/Header_Linked.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/left_panel_butt.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/left_panel_tab.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/small_tab.png -text
res/phpMyAdmin-3.1.1-all-languages/pmd/styles/default/images/top_panel.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/arrow_ltr.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/arrow_rtl.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/asc_order.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_bookmark.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_browse.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_calendar.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_comment.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_dbstatistics.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_deltbl.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_docs.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_docsql.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_drop.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_edit.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_empty.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_engine.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_export.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_firstpage.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_ftext.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_help.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_home.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_import.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_index.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_info.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_insrow.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_lastpage.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_minus.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_newdb.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_newtbl.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_nextpage.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_pdfdoc.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_plus.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_prevpage.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_primary.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_print.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_props.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_relations.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_save.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_sbrowse.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_sdb.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_search.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_selboard.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_select.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_sql.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_sqldoc.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_sqlhelp.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_tblanalyse.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_tblexport.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_tblimport.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_tblops.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_tbloptimize.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_tipp.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_unique.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_usradd.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_usrcheck.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_usrdrop.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_usredit.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_usrlist.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_view.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/b_views.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_browse.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_deltbl.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_drop.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_empty.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_firstpage.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_ftext.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_index.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_insrow.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_lastpage.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_nextpage.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_prevpage.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_primary.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_sbrowse.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_select.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/bd_unique.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/error.ico -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/item.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/item_ltr.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/item_rtl.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/logo_left.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/logo_right.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/php_sym.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/pma_logo2.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_asc.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_asci.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_attention.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_cancel.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_cancel2.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_db.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_desc.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_error.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_error2.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_fulltext.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_host.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_info.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_lang.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_loggoff.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_notice.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_okay.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_partialtext.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_passwd.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_process.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_really.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_reload.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_rights.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_status.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_success.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_tbl.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_theme.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_vars.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_views.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/s_warn.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/spacer.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/vertical_line.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/img/window-new.png -text
res/phpMyAdmin-3.1.1-all-languages/themes/original/screen.png -text
